:root{
    --green1: rgb(119, 245,140);
    --white1: #f1f1f1;
    --pureWhite: #fff;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: var(--white1);
}

.container {
    width: 70%;
    margin: 0 auto;
}

header{
    width: 100%;
    min-height: 100vh;
    background-color: var(--green1);
}

.container__header{
    height: 65px;
    border-bottom: 1px solid var(--pureWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: rgb(46, 46, 46);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
}

.container__header nav {
    margin-right: 10px;
}

.container__header nav ul {
    display: flex;
}

.container__header nav ul li {
    list-style: none;
}

.container__header nav ul li .link {
    color: var(--white1);
    font-weight: bold;
    text-decoration: none;
}

.container__header nav ul li .link__portfolio {
    color: rgb(46, 46, 46);
    margin: 0 15px;
}

.container__user {
    height: calc(100vh - 65px);
    text-align: center;
}

.container__user figure {
    margin: 100px 0 15px;
}

.container__user .user {
    width: 250px;
}

.container__user--text .user-name {
    color: rgb(46, 46, 46);
    font-size: 28px;
    line-height: 40px;
}

.container__user--text .user-description {
    color: rgb(46, 46, 46);
    font-size: 20px;
}

.container__user--text span {
    color: var(--white1);
    font-weight: 700;
    text-decoration: underline;
}

.container__portfolio {
    margin-top: 100px;
}

.container__portfolio .card {
    width: 200px;
    height: cover;
    background-color: rgb(134, 134, 134);
    border-radius: 5px;
}

.container__portfolio .card .container__image {
    width: 100%;
    margin-bottom: 10px;
}

.container__portfolio .card .container__image .portfolio-image {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.container__portfolio .card .project-title {
    padding: 0 5px;
}

.container__portfolio .card .project-description {
    padding: 10px 5px;
}